.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: 3rem;
    max-width: 100%; 
    /*phan chinh can giua*/
    /* justify-content: center; */

    /* gap:20px; */
}
.booklist-page {
    display: block; 
}

.card {
    margin: 30px;
    padding: 20px;
    cursor: pointer;
    flex: 0 0 300px; 
    transition: transform 0.2s; 
    border-radius: 10px; 
    background-color: #f8f9fa; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng */
    transition: transform 0.2s, box-shadow 0.2s; /* Hiệu ứng chuyển động */
}

.card-img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    object-fit: cover;  
}

.card-reviews{
    margin-bottom:1rem;
    display:flex;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color:black;
}

.card-details {
    padding: 5px; 
    display: flex;
    flex-direction: column;
}

.book-title {
    margin-bottom: 10px; 
    font-size: 18px;
    font-weight: bold; 
    text-align: center; /* Căn giữa nội dung trong `card` */

}

.book-author {
    margin-bottom: 5px; 
}

.author-label {
    font-weight: bold; 
    margin-right: 5px; 
}

.author-name {
    color: #555; 
}

.book-quantity {
    margin-bottom: 5px; 
}

.quantity-label {
    font-weight: bold; 
}

.quantity-value {
    color: #666; 

}
.control-bar {
    display: flex;
    margin-bottom: 20px;
  }
  
.search-box{
    background: #dde6dd;
    padding: 8px 80px;
    border-radius: 10px;
    display:flex;
    align-items: center;
    margin-top:20px;
    margin-left:30px;
    
    
}
.search-box input{
    border:none;
    outline:none;
    background:transparent;
    padding:5px;
    outline:none;
}
.search-box .icon{
    color:#969393;
   font-size:22px;
   cursor:pointer;
}
.sort-dropdown {
    padding: 8px 12px; /* Thêm khoảng đệm xung quanh văn bản */
    border-radius: 5px; /* Bo tròn các góc */
    border: 1px solid #ccc; /* Đường viền màu xám nhạt */
    background-color: #f8f8f8; /* Màu nền nhạt */
    color: #333; /* Màu văn bản */
    font-size: 14px; /* Kích thước phông chữ */
    outline: none; /* Loại bỏ đường viền xung quanh khi tập trung */
    cursor: pointer; /* Con trỏ dạng tay khi di chuột lên */
    transition: all 0.3s ease; /* Hiệu ứng chuyển đổi mượt mà */
    margin-top:20px;
    margin-left:30px;
    justify-content: flex-end; /* Đặt dropdown list sang phải */

  }
  
  .sort-dropdown:focus {
    border-color: #007bff; /* Đường viền màu xanh lam khi tập trung */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Bóng đổ nhẹ */
  }
  .search-box-container {
    display: flex; /* Đặt flexbox để tạo hai cột */
    margin-bottom: 20px; /* Khoảng cách dưới để tách khỏi phần khác */
    
  }
  